@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

:root {
    --pink: #ff7ea5;
    --green: #13a412;
    --yellow: #fed603;
    --red: #e50f2f;
    --purple: #4b3e9a;
    --blue: #024cc1;
    --orange: #f45a09;
    --green-hover: #047004;
    --yellow-hover: #b99c08;
    --pink-hover: #cf6a88;
    --red-hover: #b80c26;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

/* Layout */
body {
    background-color: #312f2f;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

#overlay {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 20%;
    top: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s linear;
}

#overlay.show {
    z-index: 5;
    opacity: 0.5;
    transition-delay: 0.9s;
}

.alert {
    padding: 0.7rem;
    color: #ddd;
    background: #c4c4c4;
    width: 80%;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 10%;
    z-index: 6;
    text-align: center;
}

.alert-error {
    background: #dc3545;
}

.alert-success {
    background: #28a745;
}

/* Demo Message */
.cart-demo-msg {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    font-size: 1.1rem;
}

.demo-msg {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/* Background Images */
.paint-bg-m {
    position: absolute;
    bottom: -1250px;
    z-index: -1;
    -webkit-animation: paint 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: paint 0.5s; /* Firefox < 16 */
    -ms-animation: paint 0.5s; /* Internet Explorer */
    -o-animation: paint 0.5s; /* Opera < 12.1 */
    animation: paint 0.5s;
    animation-fill-mode: forwards;
}

.paint-bg-d {
    display: none;
    position: absolute;
    z-index: -10;
    animation-fill-mode: forwards;
}

.paint-bg-m.purple-m {
    left: -50px;
}

.paint-bg-m.blue-m {
    left: 50px;
    animation-delay: 0.5s;
}

.paint-bg-m.green-m {
    left: 150px;
    animation-delay: 1s;
}

.paint-bg-m.yellow-m {
    left: 250px;
    animation-delay: 1.5s;
}

.paint-bg-m.red-m {
    left: 350px;
    animation-delay: 2s;
}

@keyframes paint {
    from {
        bottom: -900px;
    }
    to {
        bottom: -250px;
    }
}

.green-d {
    -webkit-animation: paint 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: paint 0.5s; /* Firefox < 16 */
    -ms-animation: paint 0.5s; /* Internet Explorer */
    -o-animation: paint 0.5s; /* Opera < 12.1 */
    animation: paint 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.purple-d {
    -webkit-animation: paint-purple 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: paint-purple 0.5s; /* Firefox < 16 */
    -ms-animation: paint-purple 0.5s; /* Internet Explorer */
    -o-animation: paint-purple 0.5s; /* Opera < 12.1 */
    animation: paint-purple 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.yellow-d {
    -webkit-animation: paint-yellow 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: paint-yellow 0.5s; /* Firefox < 16 */
    -ms-animation: paint-yellow 0.5s; /* Internet Explorer */
    -o-animation: paint-yellow 0.5s; /* Opera < 12.1 */
    animation: paint-yellow 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.blue-d {
    -webkit-animation: paint-blue 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: paint-blue 0.5s; /* Firefox < 16 */
    -ms-animation: paint-blue 0.5s; /* Internet Explorer */
    -o-animation: paint-blue 0.5s; /* Opera < 12.1 */
    animation: paint-blue 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.orange-d {
    -webkit-animation: paint-orange 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: paint-orange 0.5s; /* Firefox < 16 */
    -ms-animation: paint-orange 0.5s; /* Internet Explorer */
    -o-animation: paint-orange 0.5s; /* Opera < 12.1 */
    animation: paint-orange 0.5s;
}

@keyframes paint-orange {
    from {
        right: -125%;
    }
    to {
        right: -1%;
    }
}

@keyframes paint-blue {
    from {
        bottom: -125%;
    }
    to {
        bottom: -100px;
    }
}

@keyframes paint-purple {
    from {
        left: -125%;
    }
    to {
        left: -1%;
    }
}

@keyframes paint-yellow {
    from {
        left: -125%;
    }
    to {
        left: -10%;
    }
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
}

.nav-brand a {
    font-size: 1.75rem;
    color: var(--pink);
    transition: 0.3s;
}

.nav-brand a:hover {
    color: var(--pink-hover);
}

.nav-links ul {
    list-style-type: none;
}

.nav-links ul li a {
    color: var(--green);
    font-size: 1.5rem;
    transition: 0.3s;
}

.nav-links ul li a:hover {
    color: var(--green-hover);
}

.nav-cart {
    color: var(--green);
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.nav-cart:hover {
    color: var(--green-hover);
}

/* Home Header */
.header-home {
    width: 100%;
    padding: 0 1.5em;
    margin-top: 5rem;
    color: var(--pink);
    position: relative;
    z-index: 2;
}

.header-home h1 {
    font-size: 10rem;
    font-weight: 400;
    position: relative;
    top: 60px;
    text-shadow: 1px 1px black;
}

.header-ln {
    text-shadow: 1px 1px black;
}

.header-home h2 {
    font-family: 'Pacifico', cursive;
    font-size: 4.5rem;
    font-weight: 400;
}

h2.header-art {
    font-size: 7rem;
    color: #312f2f;
    opacity: 0;
    text-transform: uppercase;
    animation: fadeInHeader 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInHeader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header-home a {
    color: var(--yellow);
    font-size: 2rem;
    position: relative;
    left: 10px;
    transition: 0.3s;
}

.header-home a:hover {
    color: var(--yellow-hover);
}

.header-sub {
    position: relative;
    top: -25px;
}

/* Gallery */
.gallery h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    text-shadow: 1px 1px black;
}

.picture-carousel {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-pictures {
    animation: scroll 40s linear infinite;
    display: flex;
    align-items: center;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(50%);
    }
}

.picture-container {
    width: 500px;
    margin: 2rem 1rem 0 1rem;
    position: relative;
    z-index: 3;
    color: #fff;
}

.picture-container img {
    max-width: 100%;
}

.picture-dimensions {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2.5rem;
}

.picture-price {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 2.5rem;
}

.picture-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 auto;
    width: 60%;
    padding: 0.5rem 2rem;
    border: none;
    text-transform: uppercase;
    color: var(--pink);
    background-color: #c4c4c4;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
    opacity: 0.9;
}

.picture-button:hover {
    color: #c4c4c4;
    background-color: var(--pink);
}

/* Cart */
#cart {
    position: absolute;
    right: -80%;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: #fff;
    z-index: 5;
    transition: all 1s ease;
}

#cart.isOpen {
    right: 0;
}

#cart h1 span {
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: 5rem;
    position: relative;
    top: -20px;
}

.cart-header i {
    position: absolute;
    font-size: 2rem;
    color: var(--red);
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#cart-button {
    display: block;
    width: 80%;
    margin: 2.5rem auto 0 auto;
    border: none;
    background-color: var(--pink);
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding: 0.3rem 0;
    cursor: pointer;
    border: 10px solid var(--pink);
    transition: ease 0.3s;
    border-radius: 20px;
}

#cart-button:hover {
    border: 10px solid var(--yellow);
}

#cartItems {
    height: 40%;
    overflow-y: auto;
}

.cart-item {
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    margin: 1rem 0;
}

.cart-item img {
    max-width: 15%;
}

.cart-item-price {
    font-size: 2rem;
}

.cart-item-remove {
    font-size: 2rem;
    color: var(--red);
    cursor: pointer;
}

#cartTotal {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid var(--pink);
    border-bottom: 1px solid var(--pink);
}

.close-cart {
    transition: 0.3s;
}

.close-cart:hover {
    color: var(--red-hover);
}

/* Media Queries */
@media (min-width: 550px) {
    .paint-bg-m.blue-m {
        left: 75px;
    }

    .paint-bg-m.green-m {
        left: 200px;
    }

    .paint-bg-m.yellow-m {
        left: 325px;
    }

    .paint-bg-m.red-m {
        left: 450px;
    }
}

@media (min-width: 625px) {
    .paint-bg-m.blue-m {
        left: 100px;
    }

    .paint-bg-m.green-m {
        left: 250px;
    }

    .paint-bg-m.yellow-m {
        left: 400px;
    }

    .paint-bg-m.red-m {
        left: 550px;
    }
}

@media (min-width: 750px) {
    .alert {
        width: 70%;
        left: 15%;
    }

    .header-home {
        width: 70%;
        margin: 5rem auto 0 auto;
        padding: 0;
    }

    .paint-bg-m {
        display: none;
    }

    .paint-bg-d {
        display: initial;
    }

    .purple-d {
        left: -150%;
        top: 425px;
        z-index: -3;
    }

    .yellow-d {
        left: -160%;
        top: 750px;
        z-index: -5;
    }

    .blue-d {
        left: 50%;
        bottom: -125%;
        z-index: -7;
    }

    .green-d {
        left: 80.97%;
        bottom: -75.94%;
        z-index: -6;
    }

    .orange-d {
        right: 0;
        top: 13.24%;
    }
}

@media (min-width: 1024px) {
    .alert {
        width: 60%;
        left: 20%;
    }

    .cart-item img {
        max-width: 10%;
    }

    .header-home h1 {
        font-size: 11rem;
    }

    .header-home h2 {
        font-size: 6rem;
    }

    .gallery h1 {
        font-size: 5rem;
        margin-top: 1.5rem;
    }

    .header-home {
        width: 60%;
        margin-top: 3rem;
    }

    .header-home h1 {
        font-size: 12rem;
    }

    .header-home h2 {
        font-size: 7rem;
    }

    .nav {
        padding: 0.75em 1.75em;
    }

    .nav-brand a {
        font-size: 2rem;
    }

    .nav-links ul li a {
        font-size: 1.75rem;
    }

    .nav-cart {
        font-size: 1.75rem;
    }
}

@media (min-width: 1300px) {
    .alert {
        width: 50%;
        left: 25%;
        font-size: 1.25rem;
    }

    .header-sub {
        display: grid;
        grid-template-columns: 42% 58%;
    }

    .header-home a {
        top: 40px;
        margin-left: 1rem;
    }

    #cart-button {
        width: 50%;
    }
}

@media (min-width: 1550px) {
    .alert {
        width: 40%;
        left: 30%;
    }

    #cart-button {
        width: 40%;
    }

    .cart-item img {
        max-width: 5%;
    }

    .header-home {
        margin-top: 1rem;
    }

    .header-home h1 {
        font-size: 13rem;
    }

    .header-home h2 {
        font-size: 8rem;
    }

    .nav-brand a {
        font-size: 2.25rem;
    }

    .nav-links ul li a {
        font-size: 2rem;
    }

    .nav-cart {
        font-size: 2rem;
    }

    .gallery h1 {
        font-size: 6rem;
        margin-top: 1.25rem;
    }
}
