@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

:root {
    --pink: #ff7ea5;
    --green: #13a412;
    --yellow: #fed603;
    --red: #e50f2f;
    --purple: #4b3e9a;
    --blue: #024cc1;
    --orange: #f45a09;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

/* Layout */
body {
    background-color: #312f2f;
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

/* Background Images */
.paint-bg {
    position: absolute;
    bottom: -250px;
    left: -50px;
}

.paint-bg.blue {
    left: 50px;
}

.paint-bg.green {
    left: 150px;
}

.paint-bg.yellow {
    left: 250px;
}

.paint-bg.red {
    left: 350px;
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
}

.nav-brand a {
    font-size: 1.75rem;
    color: var(--pink);
}

.nav-links ul {
    list-style-type: none;
}

.nav-links ul li a {
    color: var(--green);
    font-size: 1.5rem;
}

/* Home Header */
.header-home {
    width: 100%;
    padding: 0 1.5em;
    margin-top: 5rem;
    color: var(--pink);
    position: relative;
    z-index: 2;
}

.header-home h1 {
    font-size: 10rem;
    font-weight: 400;
    position: relative;
    top: 60px;
}

.header-home h2 {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    font-weight: 400;
}

h2.header-art {
    font-size: 8rem;
    color: #312f2f;
    text-transform: uppercase;
}

.header-home a {
    color: var(--yellow);
    font-size: 2rem;
    position: relative;
    top: -40px;
    left: 10px;
}

.header-sub {
    position: relative;
    top: -25px;
}

/* Gallery */
.gallery h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 1rem;
}

.picture-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
    z-index: 3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.picture-container img {
    max-width: 100%;
}

.picture-price {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 2.5rem;
}

.picture-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 auto;
    width: 60%;
    padding: 0.5rem 2rem;
    border: none;
    text-transform: uppercase;
    color: var(--pink);
    background-color: #c4c4c4;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.picture-button:hover {
    color: #c4c4c4;
    background-color: var(--pink);
}
