@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

:root {
    --pink: #ff7ea5;
    --green: #13a412;
    --yellow: #fed603;
    --red: #e50f2f;
    --purple: #4b3e9a;
    --blue: #024cc1;
    --orange: #f45a09;
    --green-hover: #047004;
    --yellow-hover: #b99c08;
    --pink-hover: #cf6a88;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

/* Layout */
body {
    background-color: #312f2f;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

#overlay {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 20%;
    top: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s linear;
}

#overlay.show {
    opacity: 0.5;
    transition-delay: 0.9s;
}

/* Background Images */
.paint-bg {
    position: absolute;
    bottom: -250px;
    left: -50px;
    z-index: -1;
}

.paint-bg.blue {
    left: 50px;
}

.paint-bg.green {
    left: 150px;
}

.paint-bg.yellow {
    left: 250px;
}

.paint-bg.red {
    left: 350px;
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
}

.nav-brand a {
    font-size: 1.75rem;
    color: var(--pink);
    transition: 0.3s;
}

.nav-brand a:hover {
    color: var(--pink-hover);
}

.nav-links ul {
    list-style-type: none;
}

.nav-links ul li a {
    color: var(--green);
    font-size: 1.5rem;
    transition: 0.3s;
}

.nav-links ul li a:hover {
    color: var(--green-hover);
}

.nav-cart {
    color: var(--green);
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Home Header */
.header-home {
    width: 100%;
    padding: 0 1.5em;
    margin-top: 5rem;
    color: var(--pink);
    position: relative;
    z-index: 2;
}

.header-home h1 {
    font-size: 10rem;
    font-weight: 400;
    position: relative;
    top: 60px;
}

.header-home h2 {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    font-weight: 400;
}

h2.header-art {
    font-size: 8rem;
    color: #312f2f;
    text-transform: uppercase;
}

.header-home a {
    color: var(--yellow);
    font-size: 2rem;
    position: relative;
    top: -40px;
    left: 10px;
    transition: 0.3s;
}

.header-home a:hover {
    color: var(--yellow-hover);
}

.header-sub {
    position: relative;
    top: -25px;
}

/* Gallery */
.gallery h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 2rem;
}

.picture-carousel {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-pictures {
    animation: scroll 30s linear infinite;
    display: flex;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(50%);
    }
}

.picture-container {
    width: 100%;
    margin: 2rem 1rem 0 1rem;
    position: relative;
    z-index: 3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.picture-container img {
    max-width: 100%;
}

.picture-price {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 2.5rem;
}

.picture-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 auto;
    width: 60%;
    padding: 0.5rem 2rem;
    border: none;
    text-transform: uppercase;
    color: var(--pink);
    background-color: #c4c4c4;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.picture-button:hover {
    color: #c4c4c4;
    background-color: var(--pink);
}

/* Cart */
#cart {
    position: absolute;
    right: -80%;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: #fff;
    z-index: 5;
    transition: all 1s ease;
}

#cart.isOpen {
    right: 0;
}

#cart h1 span {
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: 5rem;
    position: relative;
    top: -20px;
}

.cart-header i {
    position: absolute;
    font-size: 2rem;
    color: var(--red);
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#cart-button {
    width: 80%;
    margin: 0 auto;
    right: 0;
    left: 0;
    border: none;
    background-color: var(--pink);
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding: 0.3rem 0;
    position: absolute;
    bottom: 1rem;
    cursor: pointer;
    border: 10px solid var(--pink);
    transition: ease 0.3s;
    border-radius: 20px;
}

#cart-button:hover {
    border: 10px solid var(--yellow);
}

#cartItems {
    height: 48%;
    overflow-y: auto;
}

.cart-item {
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    margin: 1rem 0;
}

.cart-item img {
    max-width: 15%;
}

.cart-item-price {
    font-size: 2rem;
}

.cart-item-remove {
    font-size: 2rem;
    color: var(--red);
    cursor: pointer;
}

#cartTotal {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid var(--pink);
    border-bottom: 1px solid var(--pink);
}
